@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-color: #444444;
    --secondary-color: #ffffff;
    --light-grey: #b8b8b8;
    --border-radius: 10px;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Karla, sans-serif;
    background: url(./background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
    font-weight: bold;
    font-size: 2.5rem;
}

.container {
    background: var(--light-grey);
    text-align: center;
    max-width: 95%;
    width: 400px;
    height: 200px;
    border-radius: var(--border-radius);
}

.form-input {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
    height: 27px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    background: var(--light-grey);
}

button {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: var(--border-radius);
}

button:hover {
    filter: brightness(110%);
}